 body {
            margin: 0;
            overflow: hidden;
        }
        #cookie {
            position: absolute;
            top: 40%;
            left: 30%;
            transform: translate(-50%, -50%);
            cursor: pointer;
        }
        .meme {
            position: absolute;
            width: 50px; /* Adjust the size as needed */
            height: 50px;
            animation: floatAndFade 3s linear;
            pointer-events: none;
        }

        @keyframes floatAndFade {
            0% {
                transform: translate(0, 0);
                opacity: 1;
            }
            50% {
                transform: translate(25px, -25px);
                opacity: 0.8;
            }
            100% {
                transform: translate(50px, -50px);
                opacity: 0;
            }
        }
