
        #cookie {
        }
        
        .meme {
            width: 50px; /* Adjust the size as needed */
            height: 50px;
            animation: floatAndFade 5s linear; /* Adjust the duration for visibility */
            top: 100%;
            left: 93%;
        }

        @keyframes floatAndFade {
            0% {
                transform: translate(0, 0);
                opacity: 1;
            }
            50% {
                transform: translate(calc(25px * var(--randomX)), calc(-25px * var(--randomY)));
                opacity: 0.8;
            }
            100% {
                transform: translate(calc(50px * var(--randomX)), calc(-50px * var(--randomY)));
                opacity: 0;
            }
        }
