body {
  background-image: url("assets/background.jpg");
  overflow: hidden;
}


.sectionLeft {
  float: Left;
  width: 70%;
}

.sectionRight {
  float: Right;
  width: 15%;
}

.scoreContainer {
  background-color: rgb(0, 255, 255, 0.6);
  font-size: 23px;
  font-weight: bold;
  
}

.clickerContainer img {
  position: relative;
  transition: all .1s ease-in-out;
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  ondragstart: false;
 
}

.clickerContainer img:hover { transform: scale(1.10); }
.clickerContainer img:active { transform: scale(0.85); }

.shopButton {
  background-color: #4d4c4c;
  transition: all .2s ease-in-out;
  border-radius: 1px;
  width: 10%;
}
.shopButton:hover {
  background-color: #1eff00;
}
.shopButton #img {

}

.shopButton #amount {
  font-size: 48px;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.sectionLeft2 {
  float: left;
  width: 40%;
}

table {
  border-collapse: collapse;
  width: 20%;
}

