 body {
            margin: 0;
            overflow: hidden;
        }
        .noob {
            transform: translate(-50%, -50%);
            cursor: pointer;
        }
        .meme {
            position: absolute;
            width: 70px; /* Adjust the size as needed */
            height: 70px;
            animation: floatAndFade 8s linear;
            pointer-events: none;
            top: 70%;
        }

        @keyframes floatAndFade {
            0% {
                transform: translate(0, 0);
                opacity: 1;
            }
            50% {
                transform: translate(25px, -25px);
                opacity: 0.8;
            }
            100% {
                transform: translate(50px, -50px);
                opacity: 0;
            }
        }
